<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>File List</title>
    <script src="/js/base.js" type="text/javascript"></script>
</head>
<body>
    <table border="1">
        <tr>
            <th>文件名</th>
            <th>文件内容</th>
            <th>操作</th>
        </tr>
        <tr th:each="file:${fileList}">
            <td><a th:href="@{'/file/download?id=' + ${file.id}}" target="_blank" th:text="${file.fileName}"></a></td>
            <td th:text="${file.fileContent}"></td>
            <td>
                <a th:href="@{'/file/detail?id=' + ${file.id}}">编辑</a>
            </td>
        </tr>
    </table>
</body>
</html>